#calculator-body{
  background-color:#ffffff;
  justify-items: center;
  color: beige;
  padding: 20px;
}
#calculator{
  background-color: #202020;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 30px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
#textlabel{
  font-size: 26px;
  color: white;

}
#textinput{
  height: 80px;
  width: 325px;
  background-color: #202020;
  border: none;
  color: white;
  font-size: 50px;
  text-align: right;
}
.Operators{
  width: 5pc;
  height: 5pc;
  background-color: #323232;
  color: white;
  opacity: 20;
  border: none;
  border-radius: 5px;
}
:hover.Operators{
  background-color: #3b3b3b;
}

.Numbers{
  width: 5pc;
  height: 5pc;
  background-color: #3b3b3b;
  color: white;   
  opacity: 20;
  border: none;
  border-radius: 5px;
}
:hover.Numbers{
  background-color: #323232;
}
#equalsign{
  width: 5pc;
  height: 5pc;
  background-color: #F38064;
  color: #323232;
  opacity: 20;
  border: none;
  border-radius: 5px;
}
:hover#equalsign{
  background-color: #f4f4f4;
}
#button-wrapper{
  padding-bottom: 3px;
}
footer{
  color: #323232;
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
